label {
    padding-bottom: 10px;
    text-align: left;
    align-items: left;
    font-size: 1.2rem;
}

input,
select {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 30px;
    background-color: inherit;
    outline: none;
    border-style: none;
    border-bottom: solid 2px black;
}

select {
    font-size: 18px;
}

textarea {
    width: 400px;
    height: 150px;
    resize: inherit;
    font-size: 1rem;
    outline: none;
    background-color: inherit;
    border: black 2px solid;
}

.modal {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 5;
    background-color: #f2f2f2;
    padding: 2rem;
    overflow: hidden;
    color: black;
    border: 3px solid black;
    border-radius: 0.25rem;
}

.modal.active {
    transform: translate(-50%, -50%) scale(.8);
}

.form_img,
.form_location,
.form_tags,
.form-time,
.form_description {
    padding: 10px 0 10px 0;
}

.form_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
}

.form_img {
    display: flex;
    flex-direction: column;
    color: black;
}

.img_zone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    /* so we can click on the button when isn't active */
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}