@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/* rgb(26, 20, 211)*/
body {
    background: #f2f2f2;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    margin: 2rem;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2945cf;
    color: #fff;
    /* box-shadow: rgba(17, 169, 129, 0.1) 0px 0.15rem 0.5rem, rgba(13, 66, 171, 0.1) 0px 0.075rem 0.175rem; */
    box-shadow: 0.25rem 0.25rem rgb(14, 14, 30);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 100ms;
    overflow: hidden;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
} */