img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.card>p {
    padding: 1rem;
}
.card>h3 {
    font-size: 1rem;
}
.img-holder>img {
    height: auto;
    width: 100%;
}
.header {
    display: flex;
    padding: 2rem;
    margin: 2rem;
    color: black;
    border: 2px solid black;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: 0.25rem 0.25rem blue;
}
.header>h3, button {
    text-align: center;
}