/* header elements styling */
.header-fr,
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem blue;
}

.header-fr>h3 {
    padding: 1rem;
    margin: 1rem;
    border: 0.5px solid black;
}

#btn-post {
    padding: 1rem;
    margin: 0 5rem;
    width: 12rem;
    align-items: center;
}

/* img/card styling  */
img {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.card>p {
    padding: 1rem;
    padding: 0.5rem;
}

.card>h3 {
    font-size: 1rem;
}

.img-holder>img {
    height: auto;
    width: 100%;
}

/* footer styling */